# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/app/logs.log
backend/app/ml/logs.log
logs.log

# Project specific
backend/app/ml/performance_data.csv
